.profile_area {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  min-height: 100vh;

  background: #fff;

  box-sizing: border-box;
}

.upper_area {
  position: inherit;

  min-width: 100%;

  min-height: 13rem;

  display: flex;

  border-bottom: 2px solid #ccc;

  background: #fff;

  justify-content: center;

  flex-direction: column;

  text-align: center;

  justify-content: center;
}

.down_area {
  position: inherit;

  min-width: 100%;

  padding: 2rem;

  min-height: 100vh;

  margin-left: 10rem;

  display: flex;

  flex-direction: row;

  background: #fff;
}

.right_area {
  display: flex;

  background: #feffff;

  border-right: 2px solid #ccc;

  width: 30%;

  justify-content: flex-start;

  flex-wrap: wrap;

  padding: 4rem;

  flex-direction: column;

  align-items: center;

  text-align: center;

  margin-left: 25px;
}

.right_area h2 {
  margin: 5rem;
}

.left_area {
  display: flex;

  position: inherit;

  background: #fff;

  width: 70%;

  color: rgb(71, 71, 71);

  padding: 4rem;

  flex-direction: column;

  align-items: center;

  /* justify-content: center; */
}

.profileName {
  display: inline-block;

  color: rgb(71, 71, 71);

  margin-top: -3px;
}

.right_area img {
  border-radius: 50%;
}

.Profile_tabelq {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 98%;
  height: 15rem;
  text-align: center;
}

.th_profileq .td_profileq {
  border: 1px solid #0f0e0e;
  text-align: center;
  padding: 2rem;
}

.tr_profileq:nth-child(even) {
  background-color: #67b8fa;
}
.Profile_tabel {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 98%;
  text-align: center;
  height: 25rem;
}

.th_profile .td_profile {
  border: 1px solid #0f0e0e;
  text-align: left;
  padding: 2rem;
}

.tr_profile:nth-child(even) {
  background-color: #67b8fa;
}
