section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #008cff;
}

/* section::before {
  content: "";
  position: static;
  top: 5.3rem;
  left: 5rem;
  width: 50%;
  height: 100%;
  background: #8ab9ff;
} */

.container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}

.container .contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: 90%;
  background: #008cff;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.container .contactInfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.container .contactInfo ul.info {
  position: relative;
  margin: 20px 0;
}

.container .contactInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}
.container .contactInfo ul.info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
}
.container .contactInfo ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}

.container .contactInfo ul.social {
  position: relative;
  display: flex;
}

.container .contactInfo ul.social li {
  list-style: none;
  margin-right: 15px;
}

.container .contactInfo ul.social li a {
  text-decoration: none;
}
.container .contactInfo ul.social li a img {
  filter: invert(1);
}

.container .contactForm {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: 84%;
  height: 97%;
  background-color: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.contactInfo .contactForm h2 {
  color: #003057;
  font-size: 24px;
  font-weight: 500;
}

.formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.contactForm .formBox .inputBox {
  position: relative;
  margin-bottom: 35px;
}

.formBox .inputBox.w50 {
  width: 47%;
}

.formBox .inputBox.w100 {
  width: 100%;
}

.formBox .inputBox input,
.formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}

/* Making the style responsive */

@media (max-width: 1200px) {
  .container {
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }

  .contactInfo {
    top: 0;
    position: relative;
    height: 500px;
    box-shadow: none;
  }

  .container .contactForm {
    position: relative;
    width: calc(100%-350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
  }
}
@media (max-width: 991px) {
  section {
    background: #008cff;
  }

  section ::before {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .container .contactForm {
    width: 100%;
    height: auto;
  }
  .container .contactInfo {
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .container .contactInfo ul.social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .container .contactForm {
    padding: 25px;
  }
  .container .contactInfo {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  .container .contactInfo ul.social {
    margin-top: 40px;
  }

  .container .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
}
