.TodoMain {
  background-color: #f4f5f7;

  height: 100vh;

  width: 100%;

  margin-top: 5.4rem;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  justify-content: flex-start;

  align-items: center;

  align-content: center;
}

.upperTodo {
  height: 20vh;

  width: 100%;

  /* background-color: #fbff00; */

  position: inherit;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;

  align-content: center;
}

.DownTodo {
  /* background-color: aqua; */

  width: 100%;

  height: 80vh;

  display: flex;

  flex-direction: row;

  position: inherit;

  transition: width 600ms ease;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;

  align-content: center;

  overflow-x: hidden;

  overflow-y: auto;

  overflow: scroll;

  padding-top: 10%;
}

.hone {
  color: rgba(0, 0, 0, 0.87);

  font-size: 50px;

  margin-bottom: 30px;

  min-width: 64px;

  box-sizing: border-box;

  /* font-family: "Comfortaa", cursive; */

  font-weight: 500;

  border-radius: 4px;

  letter-spacing: 0.02857em;

  text-transform: uppercase;

  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.addNotesTodoInputTitle {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  /* border-bottom: 0.5px solid rgb(194, 194, 194); */
}

.addTask {
  background-color: #fff;

  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);

  display: flex;

  flex-direction: row;

  height: 7.5rem;

  width: 35%;

  padding: 1rem;

  justify-content: center;

  align-items: center;

  align-content: center;

  border-radius: 10px;

  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* starting Css of Add Button  */
.addTodo button {
  align-items: center;

  height: 2rem;

  width: 5rem;

  /* background-color: azure; */
  /* background-color: aqua; */

  position: relative;
  margin: 0 0;
  border-radius: 0.3rem;
  border: none;
  text-decoration: none;
  color: #00c6ff;
  font-size: 24px;
  overflow: hidden;
  /* background-color: black; */
  font-family: cosolas;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  /* margin-left: 30px; */
  outline: none;
  box-shadow: none;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.addTodo button:hover {
  background: #00c6ff;
  color: #050801;
  box-shadow: 0 0 5px #00c6ff, 0 0 25px #00c6ff, 0 0 50px #00c6ff,
    0 0 200px #00c6ff;
}
/* Ending Css of Add Button  */

.MuiSvgIcon-root {
  width: 2rem !important;

  height: 2rem !important;
}

.todo_ol {
  width: 50rem;

  display: flex;

  margin-bottom: 35rem;

  /* background-color: #114eca; */

  flex-direction: column;

  flex-wrap: wrap;

  justify-content: center;

  /* margin-bottom: 90px; */

  /* margin-right: 50px; */
}

.todo_ol li {
  padding-left: 0px;

  text-align: left;

  font-size: 20px;

  font-weight: 500;

  min-height: 40px;

  display: flex;

  align-items: center;

  color: #8566aa;

  text-transform: capitalize;

  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  /* plz subscibe to thapatechnical channel */

  list-style: none;
}

.todo_style {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.todo_style .deleteIcon {
  width: 25px;

  height: 25px;

  display: flex;

  justify-content: center;

  align-items: center;

  background-color: #8566aa;

  border-radius: 50%;

  margin: 0 15px 0 35px;

  padding: 5px;

  color: aliceblue;

  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .deleteIcon:hover {
  background-color: transparent;

  color: crimson;

  box-shadow: 5px 5px 15px -5px rgba(255, 0, 0, 0.5);
}

.todo_style .fa-times:hover .list_style {
  color: crimson;
}

@media (max-width: 768px) {
  .center_div {
    width: 55%;
  }

  .todo_style .fa-times {
    margin: 0 15px 0 15px;

    display: flex;

    justify-content: center;

    align-items: center;

    /* plz subscibe to thapatechnical channel */
  }

  button {
    margin-left: 5px;

    min-height: 40px;

    width: 40px;

    color: #fff;

    font-size: 30px;
  }
}
