header {
  display: flex;
  justify-content: space-between;
  /* z-index: 100; */
  padding: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  /* left: 345px; */
  margin-left: 5rem;
  /* width: calc(100% - 80px); */
  width: calc(100% - 79px);
  /* width: 96%; */
  top: 0;
  right: 0px;
}

header h2 {
  color: #222;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.current-time {
  /* background-color: rgb(209, 244, 255); */
  margin-right: 20px;
  border-radius: 20px;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper small {
  display: inline-block;
  color: var(--text-primary);
  margin-top: -3px;
}

@media only screen and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .search-wrapper {
    display: none;
  }

  .headerName {
    display: none;
  }

  h4 {
    text-decoration: none;
  }

  .user-wrapper {
    display: flex;

    flex-direction: row-reverse;

    justify-content: end;

    align-items: center;

    padding-bottom: 0.5rem;
  }
}

/*Starting hidden Dropdown Menu */

.link_content {
  background: #fff;

  width: 130px;

  border: 1px solid #ccc;

  margin-left: 15px;

  border-top-right-radius: 1rem;

  border-bottom-left-radius: 1rem;

  border-bottom-right-radius: 1rem;

  position: absolute;

  display: none;
}

.link_content a {
  display: block;

  padding: 15px 20px;

  color: black;
}

.link_content a:hover {
  background: #eaf7fa;
  color: #050801;
}

.hidden_dropDown {
  position: relative;
}

.hidden_dropDown:hover .link_content {
  display: block;
}

/*Ending hidden Dropdown Menu */

/* Notification style started */

.link_content_notification {
  background: #fff;

  width: 170px;

  border: 1px solid #ccc;

  margin-left: 13px;

  border-top-right-radius: 1rem;

  border-bottom-left-radius: 1rem;

  border-bottom-right-radius: 1rem;

  position: absolute;

  display: none;
}

.link_content_notification small:hover {
  background: #eaf7fa;
  color: #050801;
}

.link_content_notification small {
  display: block;

  padding: 15px 20px;

  color: black;
}

.vr3 {
  border-left: 1px solid #000;
  height: 5px;
}

.vr {
  width: 1px;
  background-color: rgb(93, 92, 92);
  position: absolute;
  border-left: 1px solid #ccc;
  height: 85.5px;
  margin-top: -25px;
  top: 0;
  left: -10px;
  bottom: 0;
}

.vr2 {
  width: 1px;
  background-color: rgb(93, 92, 92);
  position: absolute;
  border-left: 1px solid #ccc;
  height: 85.5px;
  margin-top: -25px;
  margin-left: 45px;
  top: 0;
  left: -5px;
  bottom: 0;
}

.vr3 {
  width: 1px;
  background-color: rgb(93, 92, 92);
  position: absolute;
  border-left: 1px solid #ccc;
  height: 94px;
  margin-top: -25px;
  /* margin-left: 45px; */
  top: 0;
  left: -10px;
  bottom: 0;
}

.notification_dropDown {
  position: relative;

  margin-right: 1rem;

  color: rgb(100, 100, 100);

  /* border: 2px solid #000;

  border-radius: 50%;

  padding: 2px; */
}

.notification_dropDown:hover .link_content_notification {
  display: block;
}

small {
  display: flex;

  flex-direction: column;

  flex-wrap: wrap;
}

/* Notification style Ended */
