/* * {
  box-sizing: border-box;

  padding: 0;

  margin: 0;

  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
} */

header {
  display: grid;

  height: 7vh;
}

.headerClass {
  background-color: rgb(0, 0, 0);

  display: flex;

  color: rgb(185, 227, 255);

  text-align: center;

  align-items: center;

  justify-content: baseline;

  padding: 2px;
}

.logostyle,
h1,
h4 {
  margin-right: 20px;

  margin-left: 20px;

  font-family: "Josefin Sans", "Courier New", Courier, monospace;
}
