.main_keep {
  /* background-color: #f4f5f7; */
  background-image: url("../Images/keep.svg");

  background-repeat: no-repeat no-repeat;

  background-position: bottom;

  background-position-x: right;

  height: 100vh;

  width: 100%;

  margin-top: 5.4rem;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  justify-content: flex-start;

  align-items: center;

  align-content: center;
}

.upperKeep {
  height: 20%;

  width: 100%;

  /* background-color: #fbff00; */

  position: inherit;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;

  align-content: center;
}

.notesstyler {
  /* background-color: aqua; */

  width: 100%;

  height: 80%;

  display: flex;

  flex-direction: row;

  position: inherit;

  transition: width 600ms ease;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;

  align-content: center;

  /* overflow-x: hidden;

  overflow-y: auto; */

  overflow: scroll;

  padding-top: 10%;
}

.notesstyler::-webkit-scrollbar {
  display: none;
}

.notesstyler {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Starting styling off add Notes Area   */

.KeepContainer {
  /* background-color: red; */

  background-color: #fff;

  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);

  display: flex;

  flex-direction: column;

  height: 7.5rem;

  width: 30%;

  justify-content: center;

  align-items: center;

  align-content: center;

  border-radius: 10px;

  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.addNotesKeepInputTitle {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 0.5px solid rgb(194, 194, 194);
}

.addNotesKeepTextConyent {
  width: 35rem;
  height: 2rem;
  resize: none;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
}

.addNotesKeepTextConyent:focus {
  border-bottom: 0.5px solid rgb(194, 194, 194);
}

.addNoteBut button {
  align-items: center;

  height: 2rem;

  width: 5rem;

  /* background-color: azure; */
  /* background-color: aqua; */

  position: relative;
  margin: 0 0;
  border-radius: 0.3rem;
  border: none;
  text-decoration: none;
  color: #00c6ff;
  font-size: 24px;
  overflow: hidden;
  /* background-color: black; */
  font-family: cosolas;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  /* margin-left: 30px; */
  outline: none;
  box-shadow: none;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.addNoteBut button:hover {
  background: #00c6ff;
  color: #050801;
  box-shadow: 0 0 5px #00c6ff, 0 0 25px #00c6ff, 0 0 50px #00c6ff,
    0 0 200px #00c6ff;
}
/* Ending styling off add Notes Area   */

/* Starting styling off Show Notes Area   */
.notesstyler .show_main {
  display: flex;

  flex-direction: column;

  flex-wrap: wrap;

  justify-content: space-evenly;

  align-items: flex-start;

  padding: 1rem;

  margin: 2rem;

  /* background-color: rgb(24, 238, 70); */

  height: 20rem;

  width: 20%;
}

.show_main {
  border-radius: 10px;

  background-color: #fff;
}

.show_notes:nth-of-type(1) {
  flex-grow: 1;
}
.show_notes:nth-of-type(2) {
  flex-grow: 1;
}
.show_notes:nth-of-type(3) {
  flex-grow: 1;
}

.show_title {
  /* background-color: rgba(2, 1, 1, 0.548); */
}

.show_notes {
  /* background-color: rgb(235, 92, 92); */

  flex: 0 0 50px;
}

.noteDel {
  /* background-color: #fbff00; */

  margin-left: 18rem;
}
/* Ending styling off Show Notes Area   */
