/* main {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  margin-top: 1.4rem;
  padding: 2rem 0.2rem;
  background: #f1f5f9;
  margin-left: 2.7rem;
  min-height: calc(100vh-90px);
} */

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr); /* Important */
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  width: 18rem;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  color: #fff;
  background-color: var(--backg-primary);
  border-radius: 1.2rem;
}

.card-single div:last-child span {
  font-size: 3rem;
  color: #fff;
}

.card-single div:first-child span {
  /* color: var(--textmain-primary); */
  color: #fff;
}

.card-single:last-child {
  background-color: var(--backg-primary);
}

.card-single:last-child div :last-child span {
  font-size: 3rem;
  color: var(--textmain-primary);
}

.card-single:last-child div :last-child span,
.card-single:last-child h1 {
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .cards {
    display: flex;

    flex-direction: column;
  }
}
