* {
  box-sizing: border-box;
}

.dashboard {
  height: 100%;
  width: 97%;
  margin-left: 2rem;
}

.secod-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  height: 400px;
  width: 33%;
}
