* {
  box-sizing: border-box;
}

.dashboard {
  display: flex;

  flex-direction: column;

  /* height: 100vh; */

  width: 100%;

  justify-content: space-evenly;

  margin-top: 3rem;

  margin-left: 2rem;

  background-color: #f4f5f7;

  /* background-color: rgb(40, 158, 212); */

  /* flex-wrap: wrap; */
}

.First_row {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  /* margin: 2rem; */

  /* background-color: rgb(0, 151, 81); */

  width: 100%;

  /* box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1); */

  margin-left: 10rem;
  height: 12rem;

  margin-top: 5rem;

  align-content: center;

  align-items: center;

  justify-content: flex-start;
}

.secod-row {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  margin: 2rem;

  /* position: inherit; */

  /* background-color: rgb(188, 197, 65); */

  width: 100%;

  /* box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1); */

  margin-left: 10rem;

  height: 35rem;

  align-content: center;

  padding: 2rem;

  align-items: center;

  justify-content: flex-start;
}

.Third-row {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  width: 100%;

  /* box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1); */

  margin-left: 10rem;

  height: 25rem;

  /* background-color: rgb(216, 104, 0); */

  align-content: center;

  align-items: center;

  justify-content: flex-start;
}

.graphs_dashboard {
  margin-left: 5rem;

  margin: 2rem;

  /* background-color: aliceblue; */
}

.charts_rowSecond {
  /* background-color: rgb(10, 14, 17); */

  margin-left: 2rem;
}

.chart_rowThird {
  margin-left: 5rem;
}
.profile_rowThird {
  margin-left: 5rem;
}

.calender_rowThird {
  margin-left: 5rem;
}

.react-calendar {
  height: 24rem;
  width: 32rem;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
  border: none;
}

#reactgooglegraph-3 div {
  position: inherit;
  display: flex;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

#reactgooglegraph-2 div {
  box-shadow: 0 2px 0 rgba(94, 99, 104, 0.11),
    0 4px 8px rgba(98, 101, 105, 0.12), 0 10px 10px rgba(94, 97, 100, 0.06),
    0 7px 70px rgba(95, 98, 102, 0.1);
}

#reactgooglegraph-1 {
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}
@media only screen and (max-width: 800px) {
  .dashboard {
    display: flex;

    flex-direction: column;
  }

  .First-row {
    display: flex;

    flex-direction: column-reverse;

    flex-wrap: wrap;
  }
}
