* {
  box-sizing: border-box;
}

.dashboard {
  display: flex;

  flex-direction: column;

  height: 100vh;

  width: 100%;

  margin-top: 3rem;

  margin-left: 2rem;

  /* background-color: rgb(228, 255, 205); */

  flex-wrap: wrap;
}

.First_row {
  display: flex;

  /* background-color: rgb(118, 147, 243); */

  width: 100%;
}

.secod-row {
  display: flex;

  flex-direction: row;

  justify-content: center;

  /* align-items: center; */

  height: 400px;

  width: 33%;
}

@media only screen and (max-width: 800px) {
  .dashboard {
    display: flex;

    flex-direction: column;
  }

  .First-row {
    display: flex;

    flex-direction: column-reverse;

    flex-wrap: wrap;
  }
}
