.profile-card {
  width: 800px;
  /* height: 600px; */
  /* margin-left: 45rem; */
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);

  overflow: hidden;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}
/* .profile-card {
  background: #00c6ff;
  color: #050801;
  box-shadow: 0 0 5px #00c6ff, 0 0 25px #00c6ff, 0 0 50px #00c6ff,
    0 0 200px #00c6ff;
} */

.card-header {
  /* background: #2c3a47; */
  padding: 20px 20px;
  /* background: linear-gradient(130deg, #a3a3a3, #414345); */
  background: #fff;
  /* background-image: url("./img/bg.jpg"); */
  /* background-repeat: no-repeat, repeat;
  background-size: cover; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  width: 800px;
}

.pic {
  display: inline-block;
  padding: 6px;
  background: linear-gradient(130deg, #00c8ff, #000000, #0089fa);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 3s linear infinite;
}

.pc_details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.pic img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc {
  font-size: 18px;
  color: #ffb46d;
}

.sm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a {
  color: #000;
  width: 56px;
  font-size: 22px;
  transition: 0.3s linear;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.sm .facebook:hover {
  color: #4267b2;
}

.sm .Instagram:hover {
  color: #8a3ab9;
}

.sm .Whatsapp:hover {
  color: #4fce5d;
}

.sm .Tweet:hover {
  color: #1da1f2;
}

.sm .Linkdin:hover {
  color: #0077b5;
}

.contact-btn {
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  margin: 0 0;
  border-radius: 0.3rem;
  border: none;
  width: 15rem;
  text-decoration: none;
  color: #00c6ff;
  font-size: 24px;
  overflow: hidden;
  background-color: black;
  font-family: cosolas;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  margin-left: 30px;
  margin: 30px;
  outline: none;
  box-shadow: none;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.contact-btn:hover {
  background: #00c6ff;
  color: #050801;
  box-shadow: 0 0 5px #00c6ff, 0 0 25px #00c6ff, 0 0 50px #00c6ff,
    0 0 200px #00c6ff;
}

.card-footer {
  background: #f4f4f4;
  padding: 20px 20px;
  height: 80px;
}

.numbers {
  display: flex;
  align-items: center;
}

.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #ffb46d;
}

.item span {
  display: block;
  color: #2c3a47;
  font-size: 30px;
}

.border {
  width: 1px;
  height: 30px;
  background: #bbb;
}
